<!-- myapp/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <!-- Load static files -->
    {% load static %}
    
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>
    
    <div class="navbar">
        <div class="logo">
            <img src="" alt="image">

        </div>
        <div class="buttons">
            <button class="home">
               Policy1 
            </button>
            <button class="about">
                Policy2
            </button>
            <button class="new">
                Policy3
            </button>
        </div>
    </div>


    <div class="mainarea">
        <div class="tagline">
            <h1>
                Bringing you<br>better policies
            </h1>
            <img src="" alt="image">

        </div>
    </div>

    <div class="policycards">
        <div class="cards">
            <h1 class="policy">
                policy1
            </h1>
            <p class="policydesc">
                policy 1 is a very good policy
            </p>
        </div>
        <div class="cards">
            <h1 class="policy">
                policy1
            </h1>
            <p class="policydesc">
                policy 1 is a very good policy
            </p>
        </div>
        <div class="cards">
            <h1 class="policy">
                policy1
            </h1>
            <p class="policydesc">
                policy 1 is a very good policy
            </p>
        </div>
    </div>

</body>
</html>
